/***********  CSS For kristofhracza.com  *****************
**********************************************************/

/*************************  HTML Elements  ************************/
:root{
  --dark_grey:#202020;
  --light_grey:#505050;
  --main_bg_color:#E0E0E0;
  --light_blue:#077BFF;
}

body, html {
  height: 100%;
  background-color: var(--main_bg_color);
}

/*Hiding scrollbar*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h1{
  text-align: center;
  font-family: 'Kumar One', sans-serif;
  padding-top: 20px;
}

h2{
  font-family: "Squada One", sans-serif;
  text-align: center;
  font-size:3rem;
  transition: 0.2s;
}

h3{
  font-family: "Squada One", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

p{
  font-size:1.1rem;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  transition: 0.2s;
}

ul{
   padding: 0;
}

ul li{
  list-style-type: none;
  font-size:1.1rem;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
}

footer {
  padding: 10px;
  color:var(--light_blue);
}

i{
  padding: 15px;
  transition: 0.5s;
}

hr{
  border: 2px solid black;
  border-radius: 10px;
  width:70%;
  transition: 0.5s;
}
/********************  ID Selectors  *****************************/

/*Big section starters*/
#big-text{
  font-size: 10rem;
  font-family: "Squada One", sans-serif;
  letter-spacing: 5px
}

/*Writing text over an image */
#text_over_image{
  position: relative;
  color:white;
  letter-spacing: 6px;
  font-size: 6rem;
  text-align: center;
  top:15%;
  margin-right:auto ;
  margin-left:auto;
}

/*ID for images to fit the screen*/
#responsive {
  width: 60%;
  max-width: 800px;
  height:20%;
}

/*Text that I want to make bigger, and highlighted*/
#highlight_text{
  font-family: "Squada One", sans-serif;
  font-size:2rem;
}

/*Profile image*/
#profile_img {
  width: 20%;
  border-radius: 10%;
  
}
/************************  Class Selectors  **********************/

/*Every section (div)*/
.container{
  text-align: center;
  position: relative;
}

/*Text on the left side*/
.side-text{
  text-align: left;
  padding-left: 150px;
}
/*Modal (pop-up) image*/
.modal{
  margin-left: auto;
  margin-right: auto;
  display:none;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.9)
}

.modal i{
  color:white;
}

.modal img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:3%;
  width:90%
}

.card{  
  margin: 20px;
  display: inline-block;
  background-color:whitesmoke;
  width:400px;
  max-width:400px;
  margin-bottom:50px;
  box-shadow: -5px 4px 24px -4px #a8a8a8;
  transition:0.5s;
  border-radius: 10px;
}

.card h2{
  color:black;
  text-align: left;
  padding: 10px;
  padding-top: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.card h6{
  float:left;
  margin-top:10px;
  text-align: left;
  padding: 10px;
  margin:10px;
  color:white;
  width:fit-content;
}

.card h5{
  float:right;
  margin-top:10px;
  padding: 10px;
  margin:10px;
  font-weight: bold;
  width:fit-content;
}

.card img{
  transition: 0.5s;
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:hover h2,h6{
  color:var(--light_blue);
}

.card:hover{
  color:var(--light_blue);
  transform: scale(1.03);
  background-color: black;
}

/* Experience Cards */
.xp_cards {
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 8);
  max-width: 1000px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  background-color: rgba(0,0,0,0.12);
  display:inline-block;
  transition: transform .2s;
  border-radius: 20px;
  margin-bottom:50px;
  padding-left: 3%;
  padding-right:3%;
  transition: 0.5s;
}

.xp_cards p{
  margin:20px;
  padding:10px;
  background-color: rgba(0,0,0,0.15);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  font-weight: bold;
}

.xp_cards h2{
  padding:20px;
}

.xp_cards li{
  margin-bottom:10px;
  background-color: rgba(0,0,0,0.15);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding:10px;
  font-weight: bold;
  display: inline-block;
}

.xp_cards:hover{
  transform:scale(1.02);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 8);
  background-color: rgba(0, 0, 0, 1);
}

.xp_cards:hover i{
  color: var(--light_blue);
}

.xp_cards:hover li{
  color: white;
  background-color: var(--dark_grey);
}

.xp_cards:hover p{
  color: white;
  background-color: var(--dark_grey);
}

.xp_cards:hover hr{
  width:95%;
  border:2px solid var(--light_blue);
}

.xp_cards:hover h2{
  color: var(--light_blue);
}

/* END OF  Experience Cards */

/* Flip Card for projects */

.flip-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  display:inline-block;
  margin:10px;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover {
  z-index: 10;
  position: relative;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  border-style: solid;
}

.flip-card-back {
  color: white;
  height: fit-content;
  transform: rotateY(180deg);
  background-color: var(--dark_grey);
  border: 3px solid var(--light_blue);
  padding:20px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

/*Parallax scrolling effect + background for starting page*/
.para {
  position: relative;
  background-image: url('images/intro.jpg');
  height: 80%;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/****** Navigation Bar ********/
.navbar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: none;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navbar h2{
  font-size:1.7rem;
}

/*All As in the navbar*/
.navbar a{
  text-align: left;
  display: block;
  border-radius: 10px;
  color:white;
  width:fit-content;
  margin: auto;
  padding:15px;
  margin-bottom:15px;;
  text-decoration: none;
  transition: 0.5s;
  user-select: none;
}

/*1st a in the navbar*/
.navbar a:first-child{
  margin-top:20%;
}

 /*When hovering on A*/
.navbar a:hover{
   color:var(--dark_grey);
   background-color: whitesmoke;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
   transition: 0.4s;
   transform: scale(1.15);
}

/*Set active status*/
.navbar a.active{
  background-color: var(--light_grey);
}

.navbar footer{
  position: fixed;
  bottom: 0;
}

.navbar footer #contacts{
  display: inline-block;
}

.navbar footer a {
  margin: auto;
  padding:10px;
  display: inline-block;
  color:var(--light_blue);
}

.navbar footer a:hover{
  transform: scale(1.15);
  background-color: transparent;
  color:var(--light_blue);
  box-shadow: none;
}

/*Hamburger icon*/
#navbar_icon{
  margin:10px;
  color: var(--light_blue);
  font-size: 30px;
  position:fixed;
  top:1%;
  right:2%;
  z-index: 6;
  display: block;
  border-radius: 100px;
  background-color: black;
}

/*Hover on Icon*/
#navbar_icon:hover{
  transform: scale(0.95);
}

/****** END OF Navigation Bar ********/

/***************Media Queries**********************/
@media screen and (max-width: 1700px)
{
  #text_over_image{
    font-size: 7vw;
    padding-top:1%;
    margin-right:auto ;
    margin-left:auto;
  }
  p{
    font-size: 1.5vw;
  }

  li{
    font-size: 1.5vw;
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  #big-text{
    font-size: 8vw;
  }

}

@media screen and (max-width: 1600px)
{
  #text_over_image{
    font-size: 6vw;
    padding-top:0.5%;
    margin-right:auto;
    margin-left:auto;
  }
  p{
    font-size: 1.2vw;
  }

  li{
    font-size: 1.1vw;
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  #big-text{
    font-size: 8vw;
  }

}


@media screen and (max-width: 1100px)
{
  #big-text{
    font-size: 7vw;
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }


  h1{
    font-size: 4vw;
  }

  p{
    font-size: 1.5vw;
  }

  li{
    font-size: 1.5vw;
  }


  #text_over_image{
    font-size: 7vw;
    padding-top:5%;
    margin-right:auto ;
    margin-left:auto;
  } 
}

@media screen and (max-width: 1024px)
{
  #big-text{
    font-size: 10vw
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  .para {
    background-attachment: scroll;

  }

  h1{
    font-size: 5vw;
  }

  p{
    font-size: 2vw;
  }

  #text_over_image{
    font-size: 7vw;
    top:0%;
    margin-right:auto ;
    margin-left:auto;
  }
}

@media screen and (max-width: 900px)
{
  #big-text{
    font-size: 11vw
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  .para {
    background-attachment: scroll;

  }

  h1{
    font-size: 5vw;
  }

  p{
    font-size: 2.4vw;
  }

  #text_over_image{
    font-size: 7.7vw;
    top:10%;
    margin-right:auto ;
    margin-left:auto;
  }
}

@media screen and (max-width: 800px)
{
  #big-text{
    font-size: 11vw
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  .para {
    background-attachment: scroll;

  }

  h1{
    font-size: 5vw;
  }

  p{
    font-size: 2.4vw;
  }

  #text_over_image{
    font-size: 7.7vw;
    top:12%;
    margin-right:auto ;
    margin-left:auto;
  }
  .card{  
    width:90%;
  }
}

@media screen and (max-width: 700px)
{
  #big-text{
    font-size: 11vw
  }

  .para {
    background-attachment: scroll;

  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  h1{
    font-size: 5vw;
  }

  p{
    font-size: 3.2vw;
  }

  #text_over_image{
    font-size: 8vw;
    padding-top:5%;
    margin-right:auto ;
    margin-left:auto;
  }
}

@media screen and (max-width: 600px)
{
  #big-text{
    font-size: 14vw
  }

  .side-text{
    text-align: left;
    padding-left: 20px;
  }

  #text_over_image{
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer p{
    font-size: 3vw;;
  }

  h1{
    font-size: 5vw;
  }

  h2{
    font-size: 9vw;
  }

  p{
    font-size: 4vw;
  }


  li{
    font-size: 4vw;
  }

  .para {
    background-attachment: scroll;
  }

  
.modal img{
    width:100%
  }
}
