/***************HTML Elements**********************/
body {
  background-color: #000020;
  color: #0000FF;
  background-size: "auto";
  margin: 0;
}

h1 {
  text-align: center;
  color :#B305B3 ;
  font-family: 'Monoton', sans-serif;
  font-size: 6rem;
  margin: 50px auto 0 auto;
}

h2 {
  text-align: center;
  font-family: 'Bungee Inline', sans-serif;
  font-size:4rem;
  color:#CD00D4;
  padding-bottom: 5px;
  margin: 50px auto 0 auto;
}

div{
  text-align: center;
  list-style-type:none;
  font-size:2rem;
}
li{
  text-align: center;
  list-style-type:none;
  font-size:2.5rem;
  font-family:'VT323', sans-serif;
  margin-right: 40px;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 28em;
  margin-right: 28em;
  border: 1px solid grey;
  border-width: 2px;
  color: grey;
}
p{
  font-size:2rem;
  list-style-type:none;
  text-align: center;
  font-family:'VT323', sans-serif;
  margin-right: 40px;
}

img{
  margin-right: 40px;
}

/***************ID Selectors**********************/

/*Kristof Hracza banner on the HOME screen*/
#h1 {
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  color :dark-pink ;
  font-family: 'Bungee', sans-serif;
  margin: 100px auto 0 auto;
}

/*ID for images to fit the screen*/
#responsive {
  width: 60%;
  max-width: 250px;
  height: auto;

}

/*Snake instructions ID*/
#snake_inst{
  visibility: visible;
}

/*Snake error message (Phones)*/
#error{
  font-size:2rem;
  list-style-type:none;
  text-align: center;
  font-family:'VT323', sans-serif;
  margin-right: 100px;
  margin-left: 100px;
  color:#F30F6A;
  visibility: hidden;
}

/*Contact icons*/
#contact_ico {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: auto
}


/*Contact icon DIV*/
#cont_git{
  float:right;
}

#cont_mail{
  float:right;
}

#cont_dis{
  float:right;
}

/*For keeping the paragraphs close to the middle*/
#p_div{
  margin-left:200px;
  margin-right:200px;
}

/*Making the yt logo smaller*/
#yt_logo{
  width:40px;
  height:40px;
}

/*Setting a cyan color for headings*/
#cyan_h{
  color: #04F5FD;
}

/*Setting a cyan color for paragraphs (If used as a  header)*/
#cyan_h_p{
  color: #04F5FD;
}

#cyan_h_p:hover{
  color:#FF0693;
}

/*Copyright logo*/
#cr{
  color:grey;
  font-size:0.8rem;
}

/*Setting up click reveal on Projects*/
#p_snake{
  display: none;
}

#p_flappy{
  display: none;
}

#p_pass{
  display: none;
}

#p_slow{
  display: none;
}
/*End of click reveal*/

/*Coloring dates on the NEWS section*/
#date{
  color:#FF0693;
}


/***************Class Selectors**********************/

.top-container {
  text-align: center;
  position: relative;
  padding: 10px;
}


.bot-container {
  text-align: center;
  position: relative;
  padding: 20px;
}

.pagination {
  display: block;
}

/*Page system on the news section*/
.pagination a {
  color: #FF0080;
  left: 100;
  padding: 8px 16px;
  text-decoration: none;
  font-size:1.5rem;
}

.pagination a.active {
  background-color: #00CDFF;
  color: #FF0080;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #00CDFF;
  border-radius: 5px;
}

/*END of page*/

/*No scrollbar on the sides*/
::-webkit-scrollbar
{
  width:0;
}

/*Navigation Bar*/
.topnav {
  overflow: hidden;
  background-color: #1E5BD5;
  font-family: Bungee;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #1C56CA;
  border-bottom: 3px solid #ED04FD;
}

.topnav a.active {
  background-color: #1C56CA;
  border-bottom: 3px solid #ED04FD;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child){
    display:none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    background-color: #1E5BD5;
    border-bottom: 3px solid #1E5BD5;
  }

  #contact_ico{
    width: 25px;
    height: 25px;
    margin: 0px;
  }

  #cont_git{
    float:left;
  }
  #cont_mail{
    float:left;
  }
  #cont_dis{
    float:left;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    position: relative;
    float: none;
    display: block;
    text-align: left;
    position: relative;
    z-index: 2;
  }
}
/*End of navigation bar*/


/*Glowing text "NERDS -- PROGRAMMING"*/
.glow {
  font-size:10vw
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1.5s ease-in-out infinite alternate;
  -moz-animation: glow 1.5s ease-in-out infinite alternate;
  animation: glow 1.5s ease-in-out infinite alternate;
}

/*Glowing animations for banner*/
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
/*End of glowing text*/

@media screen and (max-width: 700px)
{

    h2
    {
        font-size: 5.5vw;
    }

    li{
      font-size: 4vw;
    }

    p{
      font-size: 4vw;
    }

    h1{
      font-size:7vw;
    }

    canvas{
      font-size:6vw;
    }

    iframe{
      visibility: hidden;
      width:0px;
      height:0px;
    }

    #error{
      visibility: visible;
    }

    #snake_inst{
      visibility: hidden;
      font-size: 0px;
    }
}

@media screen and (max-width: 800px)
{

    h2
    {
        font-size: 6.5vw;
    }

    li{
      font-size: 5vw;
    }

    p{
      font-size: 5vw;
    }

    h1{
      font-size:7.5vw;
    }

    canvas{
      font-size:7vw;
    }


    iframe{
      visibility: hidden;
      width:0px;
      height:0px;
    }

    #error{
      visibility: visible;
    }

    #snake_inst{
      visibility: hidden;
      font-size: 0px;
    }


}

@media screen and (max-width: 900px)
{

    h2
    {
        font-size: 7.5vw;
    }

    li{
      font-size: 6vw;
    }

    p{
      font-size: 6vw;
    }

    h1{
      font-size:8vw;
    }

    canvas{
      font-size:8vw;
    }

}
