/********************** MAIN SETUP *************************/
body,html{
  height:100%;
  background-color:rgb(31, 31, 31);
}

.cont{
  text-align: center;
}

h1{
  font-family: "Alata";
  color:white;
  margin-bottom:50px;
}


/***************************** 1st card **********************************/
#first_sec{
  background-image: linear-gradient(#102fe0,#e0085b);
  padding-bottom:50px;
}

.first{
  width:350px;
  height:450px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
}

.first h1{
  color:black;
  font-family:"Bree Serif";
  text-align:left;
  margin-left:20px;
  font-weight: bold;
}

.first h2{
  text-align:left;
  margin-top:50px;
  margin-left:20px;
  font-family:"Overpass";
  color:#a3a3a3;
  font-size:1.5rem;
}

.first p{
  text-align:left;
  margin-top:20px;
  margin-left:25px;
  font-family:"Overpass";
  color:black;
}

#img img{
  width:100%;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
}

/***************************** 2nd card **********************************/
#second_sec{
  background-image: linear-gradient(#bae010,#08e0b1);
  padding-bottom:50px;
}

#second_sec h1{
  color:black;
}

.second{
  margin-left: auto;
  margin-right: auto;
  background-color:#070c20;
  width:250px;
  height:480px;
  border-radius:30px;
}

.second h3{
  color:white;
  margin-top:20px;
}

#img2 img{
  margin-top:30px;
  width:50%;
  border-radius:50%;
  box-shadow: 0px 1.5px 30px 0px rgb(235, 94, 223);
}

.second i{
  color:white;
  margin:5px;
  margin-top:20px;
  background-image:linear-gradient(#8b09be,#cc0e6d);
  padding:10px;
  border-radius:50px;
  transition: 0.5s;
}

.second #button h5{
  margin-left: auto;
  margin-right: auto;
  color:rgb(89, 162, 230);
  margin-top:30px;
  font-family:"Overpass";
  font-weight: bold;
  border: 3px solid skyblue;
  width:70%;
  padding:5px;
  padding-right:10px;
  padding-left:10px;
  transition: 0.5s;
}

#button{
  transition: 0.5s;
}

/*Hover changes*/
#button:hover{
  margin-left: auto;
  margin-right: auto;
  background-color: skyblue;
}

#button:hover h5{
   color:rgb(11, 93, 170);
}

.second i:hover{
  transform: scale(1.2);
}
/***************************** 3rd card **********************************/
#third_sec{
  background-image: linear-gradient(#e08610,#e0081a);
  padding-bottom:50px;
}


.third{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width:400px;
  height:400px;
   overflow: hidden
}

.third h2{
  color:black;
  text-align: left;
  padding: 10px;
  padding-top: 0px;
  margin-top: 10px;
  font-family: "Bree Serif";
  font-weight: bold;
}

.third h6{
  float:left;
  margin-top:10px;
  text-align: left;
  padding: 10px;
  margin:10px;
  color:white;
  background-color: #1635e4;
  width:fit-content;
}

.third h5{
  float:right;
  margin-top:10px;
  padding: 10px;
  margin:10px;
  color:black;
  font-weight: bold;
  width:fit-content;
}

#img3 img{
  width:100%;
}
/***************************** 4th card **********************************/
#fourth_sec{
   background-image: linear-gradient(#44dbc7, rgb(28, 197, 118));
  padding-bottom:50px;
}
#fourth_sec h1{
  color:black;
}
.fourth{
  width:350px;
  height:500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius:30px;
  box-shadow: 10px 5px 10px 0px black;
}

.fourth h2{
  font-weight:bold;
  font-family: "Alata";
  margin-bottom:10px;
  margin-top:10px;
}

.fourth p{
  font-family: "Alata";
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  font-size:medium;
  color:grey;
}

.fourth h3{
  font-family: "Alata";
}

.fourth #follow{
  background-color:#ffbc02;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
  padding-right:100px;
  padding-left:100px;
  border-radius:20px;
  margin-bottom:10px;
  margin-top:10px;
  transition:0.5s;
}

.fourth #bg img{
  width:100%;
  border-top-right-radius:30px;
  border-top-left-radius:30px;
}

.fourth #follow h4{
    font-family: "Alata";
    font-weight:400;
}

.fourth #img4 img {
  margin-top:-60px;
  position: relative;
  width:30%;
  border-radius:50px;
  box-shadow: 2px 5px 10px 0px black;
  transition: 0.5s;
}
/* Hover effects */
#follow:hover{
  filter: brightness(85%);
  transform: scale(1.1);
}

#img4 img:hover{
  transform: scale(1.2);
}

/***************************** MEDIA QUERIES **********************************/
@media screen and (max-width: 600px){
  h1{
    font-size: 2rem;
  }
  .first{
    width:80%;
  }
  .third{
    width:80%;
  }
  .fourth{
    width:80%;
  }
}
