<!DOCTYPE html>
<html>
<head>
  <!--Bootstrap, css, and font links-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Mitr' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Squada One' rel='stylesheet'>
  <link rel="stylesheet" href="restaurant.css">
  <!--Site Description-->
  <meta property="og:site_name" content="Restaurant"/>
  <meta property="og:title" content="Restaurant"/>
  <meta property="og:description" content="My webpage idea for a Restaurant"/>
  <meta property="og:type" content="website"/>
  <link rel = "icon" href = "favicon.ico">
  <title>Restaurant</title>
</head>
<body>
  <div class="parallax">
    <div class="topnav" id="topnav">
      <a class="active" href="restaurant"><b>Home</b></a>
      <a href="restaurant.html"><b>About</b></a>
      <a href="javascript:void(0);" class="icon" onclick="hamburger()">
      <i class="fa fa-bars"></i>
      </a>
    </div>
    <img id="logo" src="Pictures/logo.png"/>
    <p id="text_onimage" style="top:40%;">Welcome to</p><br><h1 id="text_onimage">Restaurant</h1>
  </div>
  <div class="cotainer">
    <!--  We are sections  -->
    <h1 style="color:black;" >We are</h1>
    <p style="color:black;">Lorem ipsum dolor sit amet, consectetur<br>
       adipiscing elit, sed do eiusmod tempor<br>
      incididunt ut labore et dolore magna aliqua.<br>
      Sed libero enim sed faucibus turpis in <br>
       eu mi bibendum. Cras semper auctor neque vitae<br> tempus quam pellentesque nec nam. Id velit<br>
       ut tortor pretium viverra suspendisse. <br>In ornare quam viverra orci sagittis eu volutpat odio <br>
       facilisis. Gravida arcu ac tortor.</p>
    <!--  Chef's welcome section  -->
    <div id="chef_w">
      <h1>Chef's Welcome</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur<br>
        adipiscing elit, sed do eiusmod tempor<br>
        incididunt ut labore et dolore magna aliqua.<br>
        Sed libero enim sed faucibus turpis in <br>
         eu mi bibendum. Cras semper auctor neque vitae<br> tempus quam pellentesque nec nam. Id velit<br>
        ut tortor pretium viverra suspendisse. <br>In ornare quam viverra orci sagittis eu volutpat odio <br>
        facilisis. Gravida arcu ac tortor.</p>
    </div>
    <h1 style="color:black;">Our recipes</h1>
    <p style="color:black;">
      Lorem ipsum dolor sit amet, consectetur<br>
      adipiscing elit, sed do eiusmod tempor<br>
      incididunt ut labore et dolore magna aliqua.<br>
      Sed libero enim sed faucibus turpis in <br>
      eu mi bibendum. Cras semper auctor neque vitae<br> tempus quam pellentesque nec nam. Id velit<br>
      ut tortor pretium viverra suspendisse. <br>In ornare quam viverra orci sagittis eu volutpat odio <br>
      facilisis. Gravida arcu ac tortor.</p>
  </div>
  <!--  Footer Section  -->
  <footer>
    <a href="#mail" style="font-size:30px;"><i class="fa fa-envelope"></i></a>
    <a href="#instagram" style="font-size:30px;"><i class="fa fa-instagram"></i></a>
    <a href="#facebook" style="font-size:30px;"><i class="fa fa-facebook"></i></a>
    <p>© Kristof Hracza</p>
  </footer>
  <script src="restaurant.js"></script>
</body>
</html>
